<!-- Page Content -->
<div class="container">

  <!-- <app-util-title [title]="title" [subtitle]="'n_n'"></app-util-title> -->
  <!-- <app-util-breadcrumb [root]="true" ></app-util-breadcrumb> -->

  <br/>
  <br/>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <br/>
      <img class="img-fluid rounded mb-4" src="https://images.pexels.com/photos/140134/pexels-photo-140134.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="">
    </div>
    <div class="col-lg-6">
      <h2>¿quieres adoptar?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->